In [3]:
# Input and Import


import re, time, datetime
from selenium.common.exceptions import NoSuchElementException
from loginAdminByRequests import *

url = 'https://admin.qandi.com/admin' # change this url(link) when new url comes
user_id = 'temp@thomsondigital.com'; passw0rd = '1631689993000'
main_url = url.replace('.com/admin', '.com')

In [2]:
# Starts the chrome browser and imports shortcuts

from sel_shortcuts import *

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Driver [C:\Users\USER\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [5]:
# Log in

driver.get(url)
login_uniq(url_login = url, username = user_id, role = 2, password = passw0rd)

In [6]:
assign_url = 'https://admin.qandi.com/assign-sme-question'
driver.get(assign_url)

In [14]:
records = {}
try:
    for option_no in range(2,100):
        chem_users_xp = f'//*[@id="sme_from"]/option[{option_no}]'
        chem_users_elm = driver.find_element_by_xpath(chem_users_xp)
        user_id = chem_users_elm.get_attribute('value')
        user_name = chem_users_elm.get_attribute('innerText').strip()
        records[user_id] = user_name
except:
    pass
records

C:\Users\USER\AppData\Local\Temp\ipykernel_8496\2397922111.py:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  chem_users_elm = driver.find_element_by_xpath(chem_users_xp)

{'319': 'Zurietschem9',
 '318': 'Zurietschem8',
 '317': 'Zurietschem7',
 '316': 'Zurietschem6',
 '238': 'Zurietschem5',
 '237': 'Zurietschem4',
 '236': 'Zurietschem3',
 '235': 'Zurietschem2',
 '321': 'Zurietschem11',
 '320': 'Zurietschem10',
 '234': 'Zurietschem1',
 '182': 'Ujjawal',
 '279': 'Suhail',
 '448': 'Shubhamsme',
 '353': 'Shruti Dutt',
 '267': 'Shikshachem4',
 '266': 'Shikshachem3',
 '194': 'Shikshache2',
 '193': 'Shikshache1',
 '277': 'Shailesh',
 '548': 'Savitha-IIC',
 '560': 'Saurabh Rai-IIC',
 '139': 'Saurabh Rai',
 '142': 'Santosh Yadav',
 '597': 'Sakshi',
 '138': 'Saba Khanam',
 '130': 'Ritesh hanumanthavajjula',
 '535': 'Rahul Singh-IIC',
 '131': 'Rahul Singh',
 '546': 'Rahul Nayak-IIC (rahulroshannk@gmail.com)',
 '134': 'RAHUL NAYAK',
 '93': 'Prasanna Shetty',
 '278': 'Pallavi',
 '275': 'Mayank Gupta',
 '557': 'ManojIIC',
 '169': 'Lovedhar SME',
 '598': 'Kuldeep Kumar Maurya-IIC',
 '178': 'Kuldeep Kumar maurya',
 '34': 'Kuldeep Kumar Maurya',
 '186': 'Krishnpal',
 '172': 'Krishnpal',
 '593': 'Kokil Jain SME',
 '561': 'Kavita Kumari-IIC',
 '141': 'Kavita Kumari (kavitakumarikk801@gmail.com)',
 '590': 'Juveena Piyush-IIC',
 '181': 'Juveena Piyus',
 '273': 'Hariom Saini',
 '541': 'GeetapriyaIIC (geetapriyabhat@gmail.com)',
 '163': 'Geetapriya  bhat',
 '140': 'Dipanjan Ghoshal',
 '115': 'Debarati',
 '596': 'CNEchemistry2phase2',
 '594': 'CNEchemistry1phase2',
 '136': 'Chinmaya Kumar',
 '250': 'ChemDummy',
 '274': 'Biplab Shankar',
 '591': 'Ayushi Aeron-IIC',
 '143': 'Ayushi Aeron',
 '203': 'Ayush Prasad',
 '68': 'Avinash Kumar',
 '94': 'Ashish Das',
 '272': 'Arwa Dhorajiwala',
 '595': 'Anjali IIC',
 '555': 'Aman Grover-IIC',
 '132': 'Aman Grover',
 '503': 'Alok',
 '276': 'Akal',
 '79': 'Aiswarya',
 '540': 'AishwaryaIIC',
 '543': 'Abhishek Gautam-IIC',
 '179': 'Abhishek gautam'}

In [15]:
# records

In [22]:
import pandas as pd
df = pd.DataFrame(records, index=[0]).T
df.columns = ['chem_user_name']
df

          chem_user_name
319         Zurietschem9
318         Zurietschem8
317         Zurietschem7
316         Zurietschem6
238         Zurietschem5
..                   ...
276                 Akal
79              Aiswarya
540         AishwaryaIIC
543  Abhishek Gautam-IIC
179      Abhishek gautam

[71 rows x 1 columns]

In [27]:
# df.to_csv('chem_sme_users_and_their_ids.csv')
df2 = pd.read_csv('chem_sme_users_and_their_ids.csv')

In [28]:
df2.columns = ['ids', 'chem_user_name']
df2.to_csv('chem_sme_users_and_their_ids.csv', index=False)
df2

    ids       chem_user_name
0   319         Zurietschem9
1   318         Zurietschem8
2   317         Zurietschem7
3   316         Zurietschem6
4   238         Zurietschem5
..  ...                  ...
66  276                 Akal
67   79             Aiswarya
68  540         AishwaryaIIC
69  543  Abhishek Gautam-IIC
70  179      Abhishek gautam

[71 rows x 2 columns]

In [30]:
records2 = {}
try:
    for option_no in range(2,100):
        chem_users_xp = f'//*[@id="sme-id"]/option[{option_no}]'
        chem_users_elm = driver.find_element_by_xpath(chem_users_xp)
        user_id = chem_users_elm.get_attribute('value')
        user_name = chem_users_elm.get_attribute('innerText').strip()
        records2[user_id] = user_name
except:
    pass
records2

C:\Users\USER\AppData\Local\Temp\ipykernel_8496\1882292366.py:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  chem_users_elm = driver.find_element_by_xpath(chem_users_xp)

{'449': 'Shubhamqa',
 '579': 'Shifali Bajaj',
 '343': 'Saurabh Rai',
 '559': 'Rolly Sharda',
 '344': 'Rahul Singh',
 '571': 'Priyanka Chhabra',
 '334': 'PrashantQA',
 '216': 'Lovedhar QA',
 '592': 'Kokil Jain',
 '381': 'Issacchem5',
 '380': 'Issacchem4',
 '379': 'Issacchem3',
 '296': 'Issacchem2',
 '295': 'Issacchem1',
 '451': 'GeetaPriyaQA',
 '220': 'Durgesh Tiwari',
 '116': 'Debarati Mitra QA',
 '418': 'Cnechem9',
 '417': 'Cnechem8',
 '416': 'Cnechem7',
 '415': 'Cnechem6',
 '414': 'Cnechem5',
 '413': 'Cnechem4',
 '412': 'Cnechem3',
 '398': 'Cnechem2',
 '419': 'Cnechem10',
 '397': 'Cnechem1',
 '586': 'Chemnumerical',
 '537': 'Chem QA IIC',
 '539': 'AvinashKumarQAIIC',
 '97': 'Avinash',
 '504': 'Alok',
 '280': 'Aishwarya'}

In [34]:
ids = list(records2.keys())
values = list(records2.values())

In [38]:
dic = {'ids': ids, 'names': values}

In [39]:
df = pd.DataFrame(dic)
df

    ids              names
0   449          Shubhamqa
1   579      Shifali Bajaj
2   343        Saurabh Rai
3   559       Rolly Sharda
4   344        Rahul Singh
5   571   Priyanka Chhabra
6   334         PrashantQA
7   216        Lovedhar QA
8   592         Kokil Jain
9   381         Issacchem5
10  380         Issacchem4
11  379         Issacchem3
12  296         Issacchem2
13  295         Issacchem1
14  451       GeetaPriyaQA
15  220     Durgesh Tiwari
16  116  Debarati Mitra QA
17  418           Cnechem9
18  417           Cnechem8
19  416           Cnechem7
20  415           Cnechem6
21  414           Cnechem5
22  413           Cnechem4
23  412           Cnechem3
24  398           Cnechem2
25  419          Cnechem10
26  397           Cnechem1
27  586      Chemnumerical
28  537        Chem QA IIC
29  539  AvinashKumarQAIIC
30   97            Avinash
31  504               Alok
32  280          Aishwarya

In [40]:
df.to_csv('chem_qa_with_ids.csv', index=False)